/* Custom Font (if required) */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif !important;
  color: #231e41 !important;
  letter-spacing: .03em;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.custom-prev.swiper-button-disabled,
.custom-next.swiper-button-disabled {
  border-color: rgba(35, 30, 65, 0.3);
  opacity: 0.5;
}
/* contact info  toggle */
#toggleSidebar span {
  background-color: #fff;
  width: 3px;
  height: 3px;
  display: block;
  position: relative; 
  transition: .3s ease-in-out;
  border-radius: 50%;
}
#toggleSidebar span::before,
#toggleSidebar span::after {
  border-radius: 50%;
  height: 3px;
  width: 3px;
  backface-visibility: hidden;
  content: "";
  display: block;
  background: #ffff;
  transition: .3s ease-in-out;
  position: absolute;
}
#toggleSidebar span::before {
  top: -7px;
}
#toggleSidebar span::after {
  top: 7px;
}
#toggleSidebar.active span {
  border-radius: 1px;
  height: 2px;
  width: 20px;
  transform: rotate(45deg);
}
#toggleSidebar.active span::before {
  border-radius: 1px;
  height: 2px;
  width: 20px;
  transform: translateY(7px) rotate(-90deg);
}
#toggleSidebar.active span::after {
  border-radius: 1px;
  height: 2px;
  width: 20px;transform: 
  translateY(-7px) rotate(-90deg);
}

/* header toggle */
#toggleHeader span {
  background-color: #fff;
  width: 20px;
  height: 2px;
  display: block;
  position: relative; 
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
}

#toggleHeader span::before,
#toggleHeader span::after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 20px;
  height: 2px;
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, transform 0.3s ease, top 0.3s ease;
}

#toggleHeader span::before {
  top: -7px;
}

#toggleHeader span::after {
  top: 7px;
}
#toggleHeader.active span {
  background-color: #fff;
  width: 20px;
  height: 2px;
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
  transform-origin: center;
  transform: rotate(45deg);
}

#toggleHeader.active span::before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 20px;
  height: 1px;
  top: -7px;
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, transform 0.3s ease, top 0.3s ease;
  transform-origin: center;
  transform: translateY(7px) rotate(-90deg);
}

#toggleHeader.active span::after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 20px;
  height: 2px;
  top: 7px;
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, transform 0.3s ease, top 0.3s ease;
  transform-origin: center;
  transform: translateY(-7px) rotate(90deg);
}
#dropdownMenu{
  position: relative;
  pointer-events: all;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  pointer-events: all;
  position: relative;
  top: 20px !important;
  transform: none;
  left: 0;
  min-width: 120px;
  max-height: 0;
}
#dropdownMenu.active{
  margin-bottom: 20px !important;
  max-height: 950px !important;
  opacity: 1;
  padding-top: 15px ;
  padding-bottom: 15px ;
  visibility: visible;
  overflow-y: scroll;
}

.rent-bg {
  border-left: 30px solid #fff;
  border-right: 30px solid #fff;
  height: 300%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1050;
}
.rent-bg-inner div {
  position: relative;
  width: 100%;
}
.rent-bg-inner div::after {
  background-color: #f9fafc;
  content: "";
  height: 40vw;
  left: -100%;
  position: absolute;
  top: 500px;
  transform: rotate(-30deg);
  width: 300%;
}


.sb-plus-minus-toggle.sb-collapsed {
  background-color: #f9fafc;
}

.sb-plus-minus-toggle.sb-collapsed::before {
  transform: rotate(180deg);
}
.sb-plus-minus-toggle::after, .sb-plus-minus-toggle::before {
  background: #000;
  content: "";
  height: 2px;
  left: 0;
  top: 0;
  transition: transform .5s ease;
  width: 21px;
}
.sb-plus-minus-toggle.sb-collapsed::after {
  transform: rotate(90deg);
}
.sb-plus-minus-toggle::after {
  left: calc(50% - 10px);
  position: absolute;
  top: calc(50% - 1px);
  transform-origin: center;
}
.sb-plus-minus-toggle::after {
  left: calc(50% - 10px);
  position: absolute;
  top: calc(50% - 1px);
  transform-origin: center;
}
.sb-plus-minus-toggle {
  align-items: center;
  background-color: #F5C332;
  cursor: pointer;
  display: flex;
  /* height: 60px; */
  justify-content: center;
  left: 0;
  position: relative;
  top: 0;
  transition: .3s ease-in-out;
  /* width: 60px; */
  z-index: 2;
  padding: 25px 15px;
}
.faq-btn.active .sb-plus-minus-toggle.sb-collapsed{
  background-color: #F5C332;
}
.faq-btn.active .sb-plus-minus-toggle.sb-collapsed::after {
  transform: rotate(0deg);
}
.faq-btn.active .sb-plus-minus-toggle.sb-collapsed::before {
  transform: rotate(0deg);
}

.perspective {
  perspective: 1000px;
}
.transform-style {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.card.flipped {
  transform: rotateY(180deg);
}
/* .input-style {
  @apply border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-indigo-500 w-full;
} */

.step-item::before {
  content: '';
  width: 100%;
  background-color: #ccc; /* default color */
  position: absolute;
  top: 20px; /* matches top-5 */
  height: 2px;
  display: block;
  z-index: -1;
}
.step-item.active::before {
  background-color: #36c6d3; /* orange or any active color */
}
.step-item i {
  color: #36c6d3;
}